---
layout: default
---

<main class="home" id="post" role="main" itemprop="mainContentOfPage" itemscope="itemscope" itemtype="http://schema.org/Blog">
    <h1 style="width:100%; text-align:center"> Choose a track below! </h1>
    <hr style="width:75%">
    <div id="grid" class="row flex-grid" style="width:100%">
    {% assign sorted = site.posts | sort: 'date' %}

    <!-- loop through posts and compile a list of all the tracks -->
    {% capture all_tracks %}{% for post in site.posts %}{{post.tracks | join: ","}},{% endfor %}{% endcapture %}{% assign all_tracks = all_tracks | split: "," %}
    {% assign unique_tracks = array[0] %}
    {% for item in all_tracks %}
        {% unless unique_tracks contains item or item == "" or item == ' '%}
            {% capture unique_tracks %}{{ unique_tracks }}{{ item }},{% endcapture %}
        {% endunless %}
    {% endfor %}
    {% assign unique_tracks = unique_tracks | split: "," %}
        {% for unique_track in unique_tracks %}
        <button type="button" class="collapsible">{{unique_track}} 
</button>
        <div id="grid" class="row flex-grid" style="max-height:0; overflow:hidden; width:0%">
        {% assign these_posts = sorted | where: "tracks", unique_track %}
        {% capture these_post_titles %}{% for foo in these_posts %}{{foo.title}}{% endfor %}{%endcapture %}
            {% for post in these_posts %}
                {% for prereq in post.prereqs %}
                {% for sub_post in sorted %}
                    {% if sub_post.url contains prereq %}
                        {% unless  these_post_titles contains sub_post.title %}
                            {% assign these_posts = these_posts | push: sub_post %}
                            {% assign these_post_titles = these_post_titles | append: sub_post.title %}
                        {% endunless %}
                    {% endif %}
                {% endfor %}
                {% endfor %}
            {% endfor %}
            
            {% assign these_posts = these_posts | sort: 'date' %}

            {% for post in these_posts %}
            <!-- because contains just doesn't work :eyeroll: -->
            <article class="box-item post-{{post.main-class}}" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
                <span class="ribbon">
                    <a href="{{site.url}}{{site.baseurl}}/categories/{{post.main-class}}"><span>{{post.main-class}}</span></a>
                </span>

                {% case post.main-class %}
                {% when "terminal" %}
                    <i class="fa-solid fa-terminal post-terminal"></i>
                {% when "python" %}
                    <i class="fa-brands fa-python post-python"></i>
                {% when "research" %}
                    <i class="fa-solid fa-book"></i>
                {% when "web" %}
                    <i class="fa-solid fa-globe"></i>
                {% else %}
                {% endcase %}
                <div class="box-body">
                    <meta itemprop="datePublished" content="{{post.date | date_to_xmlschema }}">
                    <time itemprop="datePublished" datetime="{{ post.date }}" class="date">{{ post.date | date_to_string }}</time>
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                        <h2 class="post-title" itemprop="name">
                            {{ post.title }}
                        </h2>
                    </a>
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                        <p class="description">{{ post.description }}</p>
                    </a>
                    {% if true %}
                    <div class="tags">
                        {% for tag in post.tags %}
                            <a href="{{site.baseurl}}/tags/#{{tag | slugify }}">{{ tag }}</a>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </article>
            {% endfor %} 
        </div>
    {% endfor %} 
</main>

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;
    
    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        console.log('before:',content,content.style.maxHeight)
        if (content.style.maxHeight){
          content.style.maxHeight = null;
          content.style.padding = 10+"px";
          content.style.width = 100+"%";
        } else {
          content.style.maxHeight = 0+"px";
          content.style.padding = null;
          content.style.width = 0+"%";
        }
      });
    }
</script>