.post-dev .title-category{
	color: #637a91;
}
.post-dev .post-content h1,.post-dev .post-content h2,.post-dev .post-content h3,.post-dev .post-content h4{
	color: #637a91;
}
.post-dev .post-content a{
	border-bottom: 2px dashed #637a91;
	color: #637a91;
}
.post-dev .post-content a:hover{
	background-color: #637a91;
	color: #fff;
}
.post-dev .post-content strong{
	color: #637a91;
}
.post-dev .post-content p code,.post-dev .post-content li code{
	color: #637a91;
}
.post-dev .post-content blockquote{
	border-left: .313rem solid #637a91;
}
.post-dev .header-post,.post-dev .header-site{
	background-color: #637a91;
}
.post-dev .header-post h1,.post-dev .header-site h1{
	text-shadow: 3px 3px #4f6274;
}
.post-dev .bar-header .logo a{
	color: #637a91;
}
.post-dev .author .email,.post-dev .author .github{
	color: #637a91;
}
.post-dev .share a:hover svg{
	fill: #637a91;
}
@media only screen and (max-width:37.5rem){
	.post-dev body.search-overlay:after{
		background-color: #637a91;
	}
}
.post-dev .icon-menu{
	fill: #637a91;
}
.post-dev .box-body h2{
	color: #637a91;
}
.post-dev .box-body .tags a{
	border: 1px solid #637a91;
	color: #637a91;
}
.post-dev .box-body .tags a:hover{
	background: #637a91;
	color: #fff;
}
.post-dev aside{
	background-color: #637a91;
}
.post-dev aside nav li a:hover{
	color: #637a91;
}
.post-dev .ribbon span{
	background-color: #637a91;
}
.post-dev .ribbon span:before{
	border-left: 3px solid #455565;
	border-top: 3px solid #455565;
}
.post-dev .ribbon span:after{
	border-right: 3px solid #455565;
	border-top: 3px solid #455565;
}
.post-dev footer{
	background-color: #637a91;
}