.post-python {
	color: #b31917;
}

.post-python .title-category{
	color: #b31917;
}
.post-python .post-content h1,.post-python .post-content h2,.post-python .post-content h3,.post-python .post-content h4{
	color: #b31917;
}
.post-python .post-content a{
	border-bottom: 2px dashed #b31917;
	color: #b31917;
}
.post-python .post-content a:hover{
	background-color: #b31917;
	color: #fff;
}
.post-python .post-content strong{
	color: #b31917;
}
.post-python .post-content p code,.post-python .post-content li code{
	color: #b31917;
}
.post-python .post-content blockquote{
	border-left: .313rem solid #b31917;
}
.post-python .header-post,.post-python .header-site{
	background-color: #b31917;
}
.post-python .header-post h1,.post-python .header-site h1{
	text-shadow: 3px 3px #8f1412;
}
.post-python .bar-header .logo a{
	color: #b31917;
}
.post-python .author .email,.post-python .author .github{
	color: #b31917;
}
.post-python .share a:hover svg{
	fill: #b31917;
}
@media only screen and (max-width:37.5rem){
	.post-python body.search-overlay:after{
		background-color: #b31917;
	}
}
.post-python .icon-menu{
	fill: #b31917;
}
.post-python .box-body h2{
	color: #b31917;
}
.post-python .box-body .tags a{
	border: 1px solid #b31917;
	color: #b31917;
}
.post-python .box-body .tags a:hover{
	background: #b31917;
	color: #fff;
}
.post-python aside{
	background-color: #b31917;
}
.post-python aside nav li a:hover{
	color: #b31917;
}
.post-python .ribbon span{
	background-color: #b31917;
}
.post-python .ribbon span:before{
	border-left: 3px solid #7d1210;
	border-top: 3px solid #7d1210;
}
.post-python .ribbon span:after{
	border-right: 3px solid #7d1210;
	border-top: 3px solid #7d1210;
}
.post-python footer{
	background-color: #b31917;
}