.post-research {
	color: #d6ba32;
}

.post-research .title-category{
	color: #d6ba32;
}
.post-research .post-content h1,.post-research .post-content h2,.post-research .post-content h3,.post-research .post-content h4{
	color: #d6ba32;
}
.post-research .post-content a{
	border-bottom: 2px dashed #d6ba32;
	color: #d6ba32;
}
.post-research .post-content a:hover{
	background-color: #d6ba32;
	color: #fff;
}
.post-research .post-content strong{
	color: #d6ba32;
}
.post-research .post-content p code,.post-research .post-content li code{
	color: #d6ba32;
}
.post-research .post-content blockquote{
	border-left: .313rem solid #d6ba32;
}
.post-research .header-post,.post-research .header-site{
	background-color: #d6ba32;
}
.post-research .header-post h1,.post-research .header-site h1{
	text-shadow: 3px 3px #b09823;
}
.post-research .bar-header .logo a{
	color: #d6ba32;
}
.post-research .author .email,.post-research .author .github{
	color: #d6ba32;
}
.post-research .share a:hover svg{
	fill: #d6ba32;
}
@media only screen and (max-width:37.5rem){
	.post-research body.search-overlay:after{
		background-color: #d6ba32;
	}
}
.post-research .icon-menu{
	fill: #d6ba32;
}
.post-research .box-body h2{
	color: #d6ba32;
}
.post-research .box-body .tags a{
	border: 1px solid #d6ba32;
	color: #d6ba32;
}
.post-research .box-body .tags a:hover{
	background: #d6ba32;
	color: #fff;
}
.post-research aside{
	background-color: #d6ba32;
}
.post-research aside nav li a:hover{
	color: #d6ba32;
}
.post-research .ribbon span{
	background-color: #d6ba32;
}
.post-research .ribbon span:before{
	border-left: 3px solid #9a851f;
	border-top: 3px solid #9a851f;
}
.post-research .ribbon span:after{
	border-right: 3px solid #9a851f;
	border-top: 3px solid #9a851f;
}
.post-research footer{
	background-color: #d6ba32;
}