<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/BlogPosting" {% if page.main-class %}class="post-{{ page.main-class }}"{% endif %}>
    {% include head.html %}
    <body>
        {% include svg-icons.html %}
        {% include header-post.html %}
        <section class="post">

            <article role="article" id="post" class="post-content" itemprop="articleBody">
                Should take you: {{ content | reading_time }}
                <br>
                Categories:
                {% for category in page.categories %}
                    {{ category }}
                {% endfor %}
                <br>
                Pre-reqs:
                {% for prereq in page.prereqs %}
                {% capture this_url %}{% for post in site.posts %}{% if prereq == post.id %}{{post.url}}{% endif %}{% endfor %}{% endcapture %}
                <a href="{{ this_url | prepend: site.baseurl | prepend: site.url }}"> {{ prereq }} </a>
                {% endfor %}
                <br>
                Tracks:
                {{page.tracks | join:", "}}
                {{ content }}
            </article>

            {% include author.html %}
            {% include share.html %}
            {% include footer.html %}
        </section>
    </body>
</html>
